<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Real Estate Site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/custom-styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <h2 class="text-center mt-3 mb-4">Real Estate Site</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="propietario-link" href="#">Propietarios</a>
                        <div id="crud-propietario-menu" style="display: none;">
                          <a class="nav-link" asp-controller="Propietario" asp-action="Buscar">Buscar Propietario</a>
                          <a class="nav-link" asp-controller="Propietario" asp-action="Crear">Crear Propietario</a>
                          <a class="nav-link" asp-controller="Propietario" asp-action="Crear">Editar Propietario</a>
                          <a class="nav-link" asp-controller="Propietario" asp-action="Crear">Eliminar Propietario</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="inquilino-link" href="#">Inquilinos</a>
                        <div id="crud-inquilino-menu" style="display: none;">
                          <a class="nav-link" asp-controller="Propietario" asp-action="Crear">Crear Inquilino</a>
                          <a class="nav-link" asp-controller="Propietario" asp-action="Crear">Editar Inquilino</a>
                          <a class="nav-link" asp-controller="Propietario" asp-action="Crear">Eliminar Inquilino</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inmuebles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contratos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Privacidad</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="page-content-wrapper">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js'></script>
</body>
</html>