<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Real Estate Site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/real-estate.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-styles.css" asp-append-version="true" />

    
</head>
<body>
    <div class="wrapper">
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <h2 class="text-center mt-3 mb-4">Real Estate Site</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Propietarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inquilinos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inmuebles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contratos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Privacidad</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="page-content-wrapper">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
